div.content {
    font-size: 20px;
}

h1 {
    color: White;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Oleo Script', cursive;
}

body {
    background-image: url(background3.jpg);

}